<h3>User favorites</h3>
<% if @user.favorites.present? %>
  <% @user.favorites.all.each do |favorite| %>
    <% post = favorite.post %>
    <div>
    <h5><%= post.title %></h5>
    </div>
    <div>
      <p><%= post.body %></p>
    </div>
  <% end %>
<% else %>
  <br>
  <br>
  <h3>No posts yet</h3>

<% end %>
