<div class="container">
  <h3><%= @user.email %>'s Favorites</h3>
  <% if @user.favorites.present? %>
    <% @user.favorites.all.each do |favorite| %>
      <% post = favorite.post %>
      <div class="container">
      <h5><%= post.title %></h5>
      </div>
      <div class="container">
        <p><%= post.body %></p>
      </div>
      <hr>
    <% end %>
  <% else %>
    <br>
    <h3>No posts yet</h3>
  <% end %>
</div>
  